.windowProjects__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 1em 0;
  padding: 1em 0;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.windowProjects__image {
  width: 80%;
  border-radius: 10px;
  margin-bottom: 2.5em;
  object-fit: cover;
}

.windowProjects__nav {
  margin-top: 2em;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
}

.windowProjects__links {
  text-decoration: none;
  padding: 1em 0.5em;
  color: #000;
  font-size: 1.2em;
  border: 1px solid black;
  border-radius: 10px;
}
