.window__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-presentation {
  width: 50%;
  object-fit: cover;
  border-radius: 10%;
  user-select: none;
}

.links-presentation {
  list-style: none;
  color: #000000;
  font-size: 1.5em;
  margin: 0 0.5em;
  border: 1px solid #000;
  padding: 0.3em;
  border-radius: 5px;
}

.nav-presentation {
  margin: 0.5em;
}
