.windowAboutMe__image {
  width: 40%;
  object-fit: cover;
  border-radius: 10%;
  user-select: none;
}

h2,
h1,
p {
  color: $color-font2;
}
.windowAboutMe__links {
  list-style: none;
  font-size: 1.5em;
  margin: 0 0.5em;
  color: $color-font2;
  border: 1px solid $color-font2;
  padding: 0.3em;
  border-radius: 5px;
}

.windowAboutMe__nav {
  margin: 0.5em;
}
