@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: $font-app;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../../assets/Bacground.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
}

#root {
  width: 100vw;
  height: 100vh;
}

h2,
h1,
p,
input,
textarea {
  color: $color-font;
}
