$font-app: "Roboto", sans-serif;
$color-font: rgba(255, 255, 255, 0.9);
$color-font2: rgba(0, 0, 0, 0.9);
$backgroundapp: rgba(0, 0, 0, 0.3);
$boxshadowapp: rgba(31, 38, 135, 0.37);
$borderradiusapp: 10px;
$colorborderapp: rgba(255, 255, 255, 0.18);
